@model LoremIpsum.Models.ViewModels.PageContentModel

@{
    ViewData["Title"] = "Lorem Ipsum";
}

<div class="text-center">
    @foreach (LanguageModel languageModel in Model.Languages)
    {
        <img width="150" height="150" style="border-radius:75px; border:black solid 3px;" src="@languageModel.ImageURL" />
    }
    <h1 class="display-4">@Model.Contents.First().Text</h1> <!--.First(c => c.Name.Equals("MainTitle"))-->
    <p>
        @Model.Contents.First(c => c.Name.Equals("WelcomeText")).Text
    </p>
</div>
